.admin-header {
  margin-left: 50px;
  display: flex;
}

.header-welcome {
  /* display: flex; */
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: left;
  margin-left: 28px;
  font-family: sans-serif;
}

.admin-dash {
  /* background-color: aquamarine; */
  margin-left: 110px;
}
.admin-tabs {
  margin-left: 50px;
}

.admin-tabs-div {
  /* background-color: aquamarine; */
}

.admindashbg{
  position: relative;
  min-height: 100vh;
  background-image: url(../Images/adminbg.png);
  background-repeat: no-repeat !important;
  background-size: cover;
  background-position: center;
}
