.display-loans-bg {
  background-color: rgb(127, 148, 129);
  display: flex;
  width: 1000px;
  height: 600px;
}

.display-loans-container {
  width: 400px;
  height: auto;
  max-height: 500px;
  overflow-y: auto;
  margin-top: 30px;
  margin-left: 50px;
  /* background-color: rgb(184, 245, 106); */
}
.display-loan-application {
  max-height: 550px;
}

.display-loan-title {
  width: 200px;
  height: 30px;
  margin-top: 0px;
  margin-left: 400px;
}
.span-bank-title {
  font-weight: 200;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
}

.eloan-container {
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  min-height: 120px;
  width: 350px;
  background-color: rgb(207, 200, 160);
  padding: 5px;
  margin-top: 10px;
}

.eloan-name {
  height: 20px;
  width: 300px;
  display: inline-block;
}

.eloan-interest {
  height: 20px;
  width: 300px;
  display: inline-block;
}

.eloan-bank {
  height: 20px;
  width: 300px;
  display: inline-block;
}

.eloan-branch {
  height: 20px;
  width: 300px;
  display: inline-block;
}

.eloan-city {
  height: 20px;
  width: 300px;
  display: inline-block;
}

.eloan-span-leftvalue {
  font-weight: 500;
  float: left;
}

.eloan-span-rightvalue {
  font-size: medium;
  float: right;
}

.display-loan-application {
  display: flex;
  width: 550px;
  height: 800px;
}
.loan-apply-btn {
  background-color: rgb(170, 164, 122);
  width: 300px;
}
