.view-loans-bg {
  background-color: rgb(204, 215, 190);
  /* display: flex; */
  width: 1000px;
  height: 600px;
}

.view-loans-container {
  width: 500px;
  height: auto;
  max-height: 500px;
  overflow-y: auto;
  margin-top: 30px;
  margin-left: 50px;
  /* background-color: rgb(184, 245, 106); */
}

.view-loan-title {
  width: 200px;
  height: 30px;
  margin-top: 0px;
  margin-left: 400px;
  font-weight: bold;
  font-size: medium;
}

.loan-container {
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  min-height: 90px;
  width: 230px;
  background-color: rgb(231, 246, 249);
  padding: 5px;
  margin-top: 10px;
}

.loan-name {
  height: 20px;
  width: 200px;
  display: inline-block;
}

.loan-interest {
  height: 20px;
  width: 200px;
  display: inline-block;
}

.loan-bank {
  height: 20px;
  width: 200px;
  display: inline-block;
}

.span-leftvalue {
  font-weight: 500;
  float: left;
}

.span-rightvalue {
  font-size: medium;
  float: right;
}
